@* 
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<WebApplicationLogic.Catalog.Categories.Dto.CategoryViewModel>
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
<div class="left-sidebar">
    <h2 localize-content>Category</h2>
    <div class="panel-group category-products" id="accordian">
        @{
            var parents = Model.Where(x => x.ParentId == 0);
        }
        @foreach (var parent in parents)
        {



            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-parent="#accordian" href="/@culture/@_loc["categoryUrl"]/@parent.Id">

                            @parent.Name
                        </a>
                    </h4>
                </div>

            </div>


        }
        <!--category-productsr-->



    </div><!--/category-products-->
    <div class="brands_products" id="myFormPrice">
        <!--brands_products-->
        <h2>Giá</h2>
        <div class="brands-name">
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <input type="radio" class="custom-control-input buttonPrice" value="0" name="priceRange" checked id="price-all">
                    <label class="custom-control-label" for="price-all">All Price</label>
                    <span class="badge border font-weight-normal">All</span>
                </li>
                <li>
                    <input type="radio" class="custom-control-input buttonPrice" value="10000000" name="priceRange" id="price-all">
                    <label class="custom-control-label" for="price-all">10000000</label>
                    <span class="badge border font-weight-normal">10000000</span>
                </li>
                <li>
                    <input type="radio" class="custom-control-input buttonPrice" value="20000000" name="priceRange" id="price-all">
                    <label class="custom-control-label" for="price-all">20000000</label>
                    <span class="badge border font-weight-normal">20000000</span>
                </li>
                <li>
                    <input type="radio" class="custom-control-input buttonPrice" value="30000000" name="priceRange" id="price-all">
                    <label class="custom-control-label" for="price-all">30000000</label>
                    <span class="badge border font-weight-normal">30000000</span>
                </li>
                <li>
                    <input type="radio" class="custom-control-input buttonPrice" value="40000000" name="priceRange" id="price-all">
                    <label class="custom-control-label" for="price-all">40000000</label>
                    <span class="badge border font-weight-normal">40000000</span>
                </li>
                <li>
                    <input type="radio" class="custom-control-input buttonPrice" value="50000000" name="priceRange" id="price-all">
                    <label class="custom-control-label" for="price-all">50000000</label>
                    <span class="badge border font-weight-normal">50000000</span>
                </li>
                <li>
                    <input type="radio" class="custom-control-input buttonPrice" value="60000000" name="priceRange" id="price-all">
                    <label class="custom-control-label" for="price-all">All Price</label>
                    <span class="badge border font-weight-normal">60000000</span>
                </li>
            </ul>
        </div>
    </div><!--/brands_products-->
    <div class="brands_products" id="myFormBrand">
        <!--brands_products-->
        <h2>Hãng</h2>
        <div class="brands-name">
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <input type="radio" class="custom-control-input buttonBrand" value="All" name="brandRange" checked id="price-all">
                    <label class="custom-control-label" for="price-all">All Brand</label>
                    <span class="badge border font-weight-normal">All</span>
                </li>
                <li>
                    <input type="radio" class="custom-control-input buttonBrand" value="HP" name="brandRange" id="price-all">
                    <label class="custom-control-label" for="price-all">HP</label>
                    <span class="badge border font-weight-normal">10000000</span>
                </li>
                <li>
                    <input type="radio" class="custom-control-input buttonBrand" value="Sam Sung" name="brandRange" id="price-all">
                    <label class="custom-control-label" for="price-all">Sam Sung</label>
                    <span class="badge border font-weight-normal">20000000</span>
                </li>
                <li>
                    <input type="radio" class="custom-control-input buttonBrand" value="Asus" name="brandRange" id="price-all">
                    <label class="custom-control-label" for="price-all">Asus</label>
                    <span class="badge border font-weight-normal">30000000</span>
                </li>
                
            </ul>
        </div>
    </div><!--/brands_products-->

    <div class="price-range">
        <!--price-range-->
        <h2>Price Range</h2>
        <div class="well text-center">
            <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
            <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
        </div>
    </div><!--/price-range-->

    <div class="shipping text-center">
        <!--shipping-->
        <img src="/images/home/shipping.jpg" alt="" />
    </div><!--/shipping-->

</div>
