@model WebApplicationLogic.Catalog.Users.Dto.UserDeleteRequest

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Delete this User ?</h1>
    <p class="mb-4">
        DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
                                                                   href="https://datatables.net">official DataTables documentation</a>.
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a asp-action="Index" asp-controller="UserAdmin" class="m-0 font-weight-bold text-primary btn-success"> Về Danh sách User </a>
        </div>
        <div class="card-body">
            <h4>UserDeleteRequest</h4>


            <form asp-action="Delete">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                
            </form>

        </div>
    </div>

</div>



