@model WebApplicationLogic.Catalog.Contacts.Dto.ContactDeleteRequest

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Xóa liên hệ ?</h1>
    

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a asp-action="Index" asp-controller="ContactAdmin" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"> Về danh sách liên hệ </a>
        </div>
        <div class="card-body">
            <h4>ContactDeleteRequest</h4>


            <form asp-action="Delete">
                <input type="submit" value="Delete" class="btn btn-danger" /> 
                
            </form>

        </div>
    </div>

</div>

