@model WebApplicationLogic.Catalog.Categories.Dto.CategoryAssignRequest

@{
    ViewData["Title"] = "CategoryAssign";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Danh sách User</h1>
    <p class="mb-4">
        DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
                                                                   href="https://datatables.net">official DataTables documentation</a>.
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a asp-action="Index" asp-controller="ProductAdmin" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"> Về Danh sách Sản phẩm </a>
        </div>
        <div class="card-body">
            <h4>CategoryAssignRequest</h4>

            <div class="col-md-4">
                <form asp-action="CategoryAssign">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    @for (var i = 0; i < Model.Categories.Count; i++)
                    {
                        <div class="form-group">
                            <label asp-for="Categories[i].Name" class="control-label">
                                @Model.Categories[i].Name
                                <input type="checkbox" asp-for="Categories[i].Selected" />
                                <input type="hidden" asp-for="Categories[i].Id" />
                                <input type="hidden" asp-for="Categories[i].Name" />
                            </label>
                            
                            
                        </div>
                    }
                        <div class="form-group">
                            <input type="submit" value="Lưu lại" class="btn btn-primary" />
                        </div>
                    </form>
            </div>


        </div>
    </div>

</div>





<div>
    <a asp-action="Index">Back to List</a>
</div>

