@model WebApplicationLogic.Catalog.Products.Dto.ProductDeleteRequest

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Delete this product</h1>
    <p class="mb-4">
        DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
                                                                   href="https://datatables.net">official DataTables documentation</a>.
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a asp-action="Index" asp-controller="ProductAdmin" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"> Về Danh sách Sản phẩm </a>
        </div>
        <div class="card-body">
            <h4>ProductDeleteRequest</h4>
            

            <form asp-action="Delete">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>
            </form>

        </div>
    </div>

</div>


