@model WebApplicationLogic.Catalog.Products.Dto.ProductUpdateRequest

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/classic/ckeditor.js"></script>
    <script>

        ClassicEditor
            .create(document.querySelector('.txt_details'), {
                // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(err => {
                console.error(err.stack);
            });
    </script>
}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Cập nhật sản phẩm</h1>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a asp-action="Index" asp-controller="ProductAdmin" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"> Về Danh sách Sản phẩm </a>
        </div>
        <div class="card-body">
            <div class="col-md-4">
                <form asp-action="Edit" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Tên sản phẩm</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label">Giá bán</label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OriginalPrice" class="control-label">Giá gốc</label>
                        <input asp-for="OriginalPrice" class="form-control" />
                        <span asp-validation-for="OriginalPrice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Brand" class="control-label">Nhà sản xuất</label>
                        <input asp-for="Brand" class="form-control" />
                        <span asp-validation-for="Brand" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label">Mô tả sản phẩm</label>
                        <textarea asp-for="Description" rows="5" class="form-control txt_details"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Details" class="control-label">Chi tiết sản phẩm</label>
                        <textarea asp-for="Description" rows="5" class="form-control txt_details"></textarea>
                        <span asp-validation-for="Details" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="SeoAlias" class="control-label">Tên gọi khác</label>
                        <input asp-for="SeoAlias" class="form-control" />
                        <span asp-validation-for="SeoAlias" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LanguageId" class="control-label">Ngôn ngữ</label>
                        <select name="LanguageId" asp-for="LanguageId">
                            <option value="vi">Tiếng Việt</option>
                            <option value="en">English</option>

                        </select>
                        <span asp-validation-for="LanguageId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IsFeatured" class="control-label">Sản phẩm nổi bật</label>
                        <select name="IsFeatured" asp-for="IsFeatured">
                            <option value="true">Có </option>
                            <option value="false">Không</option>

                        </select>
                        <span asp-validation-for="IsFeatured" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ThumbnailImage" class="control-label">Hình ảnh</label>
                        <input asp-for="ThumbnailImage" type="file" class="form-control" />
                        <span asp-validation-for="ThumbnailImage" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Cập nhật" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>




