@model WebApplicationLogic.Catalog.Roles.Dto.RoleDeleteRequest

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Xóa role ?</h1>
    

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a asp-action="Index" asp-controller="RoleAdmin" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"> Về danh sách role </a>
        </div>
        <div class="card-body">
            <h4>Delete Role </h4>
            

            <form asp-action="Delete">
                <input type="submit" value="Delete" class="btn btn-danger" /> |

            </form>

        </div>
    </div>

</div>

