
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutSideBar.cshtml";
}
@model string
<h1>ForgotPassword</h1>

<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Login to your account</h2>
                    <form asp-controller="Account" asp-action="ForgotPassword" method="post">
                        <label> Your email</label>
                        <input type="text" name="email" placeholder="Enter Your email" />
                        
                        
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div><!--/login form-->
            </div>


        </div>
    </div>
</section><!--/form-->
