
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
    Layout = "~/Views/Shared/_LayoutSideBar.cshtml";
}

<h1>ForgotPasswordConfirmation</h1>
<p> The mail has been sent. Please check your mail to reset your password</p>

