@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Thay đổi password thành công</h1>

<p>
    Thay đổi password thành công. Về trang đăng nhập <a asp-action="Login">Login</a>
</p>
